body {
    font-family: Arial, sans-serif; /* Font style for the page */
    background-color: #ffffff; /* Background color of the page */
    color: rgba(200,203,194,255); /* Text color (gray) */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

/* Container for the sign-up form */
.signup-container {
    background-color: rgba(19,46,55,255); /* Background color of the container (dark blue)*/
    padding: 20px; /* Padding inside the container */
    border: 1px solid rgba(19,46,55,255); /* Border around the container (same color of the background)*/
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    width: 300px; /* Fixed width of the container */
    text-align: center; /* Center text inside the container */
}

/* Heading styles */
.signup-container h2 {
    margin-bottom: 20px; /* Space below the heading */
    font-weight: normal; /* Normal font weight */
    color: #ffffff;
}

/* Styles for each input group (label and input) */
.input-group {
    margin-bottom: 15px; /* Space below each input group */
    margin-right: 15px; /* Space between the rigth margin of the container with the inputs*/
    text-align: left; /* Align text to the left */
}

/* Styles for labels */
.input-group label {
    display: block; /* Block display to make the label take up full width */
    margin-bottom: 5px; /* Space below the label */
    font-weight: normal; /* Normal font weight */
}

/* Styles for input fields */
.input-group input {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the input fields */
    border: 1px solid rgba(19,46,55,255); /*Border around input fields (same color of the background)*/
    border-radius: 4px; /* Rounded corners for input fields */
    background-color: rgba(200,203,194,255); /* Background color of input fields */
    color: #000000; /* Text color of input fields */
}

/* Styles for the submit button */
button {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the button */
    background-color: rgba(200,203,194,255); /* Gray background color for the button */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners for the button */
    color: rgba(19,46,55,255); /* blue text button color  */
    font-size: 16px; /* Font size for the button text */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Hover effect for the submit button */
button:hover {
    background-color: rgba(56,77,60,255); /* Darker background color on hover */
    color: #ffffff; /*text color change to white*/
}
